@charset "utf-8";

/* reset */
* {margin: 0 auto; padding: 0; background-color: #ffffff; color: #333333;}
a {text-decoration: none; display: block;}
li {list-style: none;}
.clearfix::after, .clearfix::before {display: block; content:''; clear: both;}

/* header */
#header {background-color: #333;}
.logo {float: left; width: 200px; height: 100px; background-color: #444;}
.menu {float: right; width: 600px; height: 50px; background-color: #555; margin-top: 25px; margin-right: 25px;}